
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>MANTENIMIENTO DE PRODUCTOS</h2>
            <img src="~/img/prod.jpg">
            <form>

                <div class="form-group">
                    <label for="prod_cat" class="control-label">Categoria</label>
                    <select class="form-control" id="prod_cat">
                        <option>Fierros</option>
                        <option>Herramientas</option>
                        <option>Cementos</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="prod_nomb" class="control-label">Nombre del producto</label>
                    <input type="text" class="form-control" id="prod_nomb" name="usu_nomb">
                </div>

                <div class="form-group">
                    <label for="prod_des" class="control-label">Descripción</label>
                    <input type="text" class="form-control" id="prod_des" name="prod_des">
                </div>

                <div class="form-group">
                    <label for="prod_prec" class="control-label">Precio</label>
                    <input type="number" class="form-control" id="prod_prec" name="prod_prec">
                </div>
                <div class="form-group">
                    <label for="prod_stock" class="control-label">Stock</label>
                    <input type="number" class="form-control" id="prod_stock" name="prod_stock">
                </div>

                <div class="form-group">
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
        </div>
    </div>
    </form>

